body {
    box-sizing: border-box;
}

#cont {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border: 2px solid red;
    height: 100vh;
}

#cont section {
    position: absolute;
}


#cont section>div {
    max-width: 100%;
    margin: auto;
    box-shadow: 5px 5px 10px gray;
}



video {
    width: 100%;
    max-height: 400px;
    display: block;

}

#controls {
    width: 100%;
    margin: auto;
    border: 2px solid red;
    display: flex;
    gap: 1.5rem;
    position: relative;
    padding: 2rem 0rem;


}

#controls>div {
    display: flex;
    justify-content: center;
    width: 100%;

    gap: 1.5rem;
    padding: 0rem 3rem;


}

#controls i:hover {
    color: rgb(85, 81, 81);

}

#controls input {
    flex: 1;
}


#controls i {
    font-size: 1.2rem;
    display: block;
}

#audio_box {
    display: flex;

}




@media (max-width:500px) {
    #cont section>div {

        width: 100%;
        margin: auto;
    }

}



@media (min-width:600px) and (max-width:1000px) {

    #controls>div {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 0;
        padding: 1rem 0rem;
        margin: auto;
    }

    #controls input {
        flex: 0;
    }
}